<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascript/app.js"></script>

  </head>
  <body ng-app="app">
    <h1>Real time Chat App</h1>

    <div ng-controller="chatController">
      <input type="text" placeholder="Enter your name" ng-model="name">
      <input type="text" placeholder="Write something" ng-model="message">
      <button ng-click="sendMessage()">Send</button>

      <h3> {{user}} </h3>
      <ul>
        <li ng-repeat="messageDetails in allMessage">
          <pre>
            {{messageDetails.from}}
                  {{messageDetails.message}}
          </pre>
        </li>        
      </ul>
    </div>
  </body>
</html>
