<div class="chat-body">
    <div class="card chat-left-bar">
        <div class="card-header">
            <h5> Registered users </h5>
        </div>

        <div class="card-body" style="background-color: rgba(0, 0, 0, 0.5);">
            <ul class="list-group  chat-user" >
                <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.1);" ng-repeat="user in allUser">
                    <button class="btn btn-block" ng-click="selectFriend(user._id);">{{user.name}} <small style="color: red;" ng-show="messageCount[user._id]"> {{messageCount[user._id]}} </small>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="card chat-box">
        <div class="card-header">
            <h5> Send to: {{friend.name}} </h5>
        </div>
        <div class="card-body overflow-auto chat-box-body">
            <ul class="list-group">
                <div ng-repeat="messageDetails in allMessage track by $index">
                    <li ng-if="findName(messageDetails.fromUserId) == 'You'" class="list-group-item case d-flex justify-content-end mb-2" style="background-color: inherit; border-style: none;" >
                        <div class="chat-box-own-message">
                            <div class="m-3 p-2" style="text-align: end;">
                                <strong style="display: block;"> {{messageDetails.message}} </strong> 
                                <small style="display: inline;"> {{messageDetails.time}} </small>
                            </div>
                        </div>
                    </li>
                    
                    <li ng-if="findName(messageDetails.fromUserId) != 'You'" class="list-group-item case d-flex justify-content-start mb-2" style="background-color: inherit; border-style: none;">
                        <div class="chat-box-friend-message">
                            <div class="m-3 p-2">
                                <span style="display: block;"><strong> {{messageDetails.message}} </strong> </span>
                                <span style="display: inline;"></span><small> {{messageDetails.time}} </small>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="card-footer">
            <form ng-submit="sendMessage()" class="shadow-lg" style="background-color: rgba(0, 0, 0, 0.5);">
                <input type="text" class="message-box" placeholder="Write something..." ng-model="message">
                <button type="submit" class="btn btn-primary message-send-button">Send</button>
            </form>
        </div>
    </div>
</div>